.weather {
  background-color: rgba(247, 247, 247, 0.6); /* Adjust the alpha value for transparency */
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem 0.5rem;
  border-radius: 60px;
  color: #363636;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjust the values for shadow size and opacity */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Adjust the color and opacity of the border */
  transition: all 0.6s ease-out;
}

.selected-weather {
  width: 70px;
  border-radius: 60px;
  max-height: 54px;
  cursor: pointer;
}
.selected-weather :hover{
  scale: 1.05;
}
.divider {
  border-top: 1px solid #707070;
  margin: 10px 0;
  width: 90%;
  margin-left: 5%;
}

.selected-weather-expanded{
  width: auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: auto;
  max-height: 50vh;


}
.icon{
  width: 100%;
  width:100%;
}
.icon-container{
  width: 36px;
  display: flex;
align-content: center;
justify-content: center;
transition: all 0.1s ease-out;


}
.icon-container-expanded{
  width: 25%;
  transition: all 0.4s ease-out 0.2s;
  margin: auto;
}
.margin-top  {
  margin-top: 2rem;
}
.weather-menu{
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  max-height: 100%;
  transition: all 0.2s ease-out 0.2s;
  padding-bottom: 2rem;
  
}
.weather-menu-item-p-with-margin{
  user-select: none;
  margin: 0;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  color: #363636;
  padding-left: 1rem;

}
.weather-menu-item-p{
  user-select: none;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  color: #363636;
  padding-left: 1rem;
}
.active{

  font-weight: bold;
  font-size: 1.2rem;
  background-color: #363636;
padding: 0.2rem 1rem;
  color: #FFF;
  border-radius: 10px;
  width: 85%;
  
 
}
/* Add the following styles to customize the scrollbar */
.weather-menu::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  border-radius: 4px; /* Rounded corners */
}

.weather-menu::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the track */
  border-radius: 4px
}

.weather-menu::-webkit-scrollbar-thumb {
  background-color: #c3c3c3; /* Color of the thumb */
  border-radius: 4px; /* Rounded corners */
}

.weather-menu::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3; /* Color of the thumb on hover */
  border-radius: 4px
}
